<nav class="navbar header">
    <div class="container-fluid">
        <div id="button-menu ms-auto menu">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu" id="label-menu">
                <i class="bi bi-list"></i>
            </label>
        </div>
    
        <form class="d-flex search-section" method="get" action="/">
            <input class="form control me-2" type="search" placeholder="search-car" aria-label="search">
            <button class="btn btn btn-primary" type="submit">Search</button>
        </form>
   </div>
</nav>