<!DOCTYPE html>
<html lang="en">

<head>
  <title>BCR: Car Management Dashboard</title>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Logo start -->

  <link rel="shortcut icon" href="/image/binar_logo.png" type="image/x-icon" />
  <!-- Logo end -->

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <!-- Bootstrap CSS v5.2.1 -->


  <!-- Reset css start -->
  <link rel="stylesheet" href="/css/reset.css" />
  <!-- Reset css end -->

  <!-- My CSS start -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- My CSS end -->


  <!-- IBM Plex Sans font start -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <!-- IBM Plex Sans font end -->

  <!-- Rubik font start -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <!-- Rubik font end -->
</head>

<body>
  <div class="wrapper">