<nav class="d-flex align-items-center justify-content-between main__nav position-relative">
  <div id="toggle" class="btn__sidebar">
    <input class="checkbox" type="checkbox" name="checkbox" id="cbox" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
  </div>
  <div class="d-flex align-items-center main__nav__right">
    <form action="/" method="get" class="d-flex">
      <div class="form__box">
        <input type="text" name="search" id="" placeholder="Search" />
        <div class="form__box__label">
          <img src="/image/ic_search.svg" alt="" srcset="" />
        </div>
      </div>
      <div class="form__btn">
        <button type="submit" class="btn-search">Seach</button>
      </div>
    </form>
    <div class="d-flex align-items-center justify-content-center gap-3">
      <img src="/image/ic_user.svg" alt="" srcset="" />
      <p class="m-0">Unis Badri</p>
      <img src="/image/ic_chevron-down.svg" alt="" srcset="" />
    </div>
  </div>
</nav>