<%- include('../component/header.ejs') %>

<div class="not__found">
  <div class="not__found__body">
    <img src="/image/img-BeepBeep.svg" alt="Car not found" srcset="">
    <h1>404 Not Found!</h1>
    <a href="/">Back to Home</a>
  </div>
</div>

<%- include('../component/footer.ejs') %>